*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
/* nav bar*/
.content{
    max-width: 1280px;
    margin: auto;
}
.nav_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_left{
    display: flex;
    gap: 10px;
    
}
.nav_left li{
   list-style: none;
}
/*mobile responsive*/
@media(max-width:768px){
    .nav_left li{
        display: none;
    }
    .nav_left li:nth-child(4){
        display: block;
    }
}
/*benar section*/
.benar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
span{
    color: #E95A08;
}
/*mobile responsive*/
@media(max-width:768px){
    .benar{
        flex-direction: column-reverse;

    }
}
/*card section*/
.card-title{
    text-align: center;
}
button{
    background-color: #E95A08;
    border: none;
    color: aliceblue;
     padding-top:10px ;
    padding-bottom: 10px;
}
.card{
    display: flex;
    flex-direction: column;
}
.card h3{
    text-align: center;
}
.card h2{
    text-align: center;
}
.main-card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
/*mobile responsive*/
@media(max-width:768px){
    .main-card{
        grid-template-columns: repeat(2,1fr);
    }
    .card:nth-child(7),
    .card:nth-child(8){
        display: none;
    }
}
 
/*chalange part*/
.man-flower{
    display: flex;
    gap: 30px;
}
.man-right{
    display: flex;
    flex-direction: column;
    
}
.man-right ul{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 50px;
  

}
.Chalange{
    margin-top: 120px;
}
.li{
    font-size: 20px;
    font-weight: 70px;
}
.man-right h1 {
    font-size: 50px;
}
.imgb{
    height: 250px;
    width: 250px;
    position: absolute;
    top: -100px;
    right: -90px;
}
.img-continer{
    position: relative;
}
/*mobile responsive*/
@media(max-width:768px){
  .imgb{
    display: none;
  }
  .man-flower{
    flex-direction: column;
  }
  .man{
    margin-left: 40px;
  }
  .man-right h1{
    text-align: center;
  }
}
  
/*last content*/
.last-div{
    text-align: center;
}
.back-img-cont{
    display: flex;
}
.back-one{
   display: flex;
   flex-direction: column; 
   gap: 20px;
}
.back-two{
    flex: 1;
    height: 300px;
    background-color: blue;
    margin: auto 100px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("./assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.back-one12{
    height: 50%;
    background-color: #E95A08;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/deal-ana.png");
    border-radius: 20px;
    margin-left: 70px;
}
.back-one13{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/deal-bloom.png");
    border-radius: 20px;
    margin-left: 70px;
}
.last{
    margin-top: 40px;
}
.last p{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*mobile responsive*/
@media(max-width:768px){
  .back-img-cont{
    flex-direction: column;
  }
 .back-one{
    flex-direction: column;
    height: 400px;
    width: 80%;
  }
  .back-two{
    flex: none;
    height: 200px;
    width: 70%;
    margin: 20px;
    margin-left: 60px;
  }
}
  
/*serch bar*/
.secrh-div{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/news-letter-bg.png");
    border-radius: 20px;
    margin-top: 70px;
}
.secrh-div input{
    padding: 10px 50px;
}
/*footer section*/
.footer{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.footer-div2{
    display: flex;
    width: 30%;
}
.footer-div1{
    width: 30%;
}
.ul li {
    margin-bottom: 20px;
    list-style: none;
}

/*mobile responsive*/
@media(max-width:768px){
  .footer{
    flex-direction: column;
}
.footer-div2{
    flex-direction: column;
    margin: 30px auto;
    width: 100%;
}
}   